* {
  box-sizing: border-box;
}
body {
  color:#444;
  font-family: Helvetica;
}
.input-group {

}
input {
 border: none;
 border-bottom: 1px solid #888;
 font-size:4vw;
 transition: all .5s;
}
input:focus {
  outline:none;
  border-bottom-width:4px;
  border-color:#68f
}
label {
  color: #aaa;
  display: flex;
  left:0;
  top:0;
  opacity:0;
  visibility: hidden;
  transition: all .5s;
}
.label-top {
  visibility: visible;
  opacity: 1;
  top: -1.5em;
  font-size:2vw;
}

#mydiv {
    /*position:fixed;*/
    top: 50%;
    left: 50%;
    /*height:18em;*/
    /*margin-top: -9em; set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
